.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 5%;
  /* position: fixed; */
}
.header h2 {
  font-weight: bold;
}
.header-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 100px;
  cursor: pointer;
}

.header-btns {
  display: flex;
  gap: 15px;
}
#login-btn {
  background-color: #040a21;
  width: 8vw;
  height: 35px;
  border-radius: 10px;
  outline: none;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  border: 1px #006cea solid;
  cursor: pointer;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo img {
  height: 40px;
  width: 50px;
}
#login-btn h4 {
  margin: 0;
}

.btn {
  width: 8vw;
  height: 35px;
  border-radius: 10px;
  outline: none;
  border: none;
  background: linear-gradient(90deg, #006cea 9.96%, #01e8fe 79.3%);
  color: white;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.btn h4 {
  margin: 0;
}
hr {
  height: 0.1px; /* Adjust the height of the line */
  background-color: #595959ae; /* Adjust the color of the line */
  border: none; /* Remove the default border */
}

.home-cover {
  display: flex;
  /* justify-content: space-around; */
  align-items: start;
  padding: 5%;
  height: 75vh;
  margin-top: 5%;
  /* flex-wrap: wrap; */
  /* background-color: #01e8fe; */
}

.cover-text p {
  padding-right: 30%;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin-bottom: 9%;
}
.cover-text h1 {
  font-size: 65px;
  color: #01e8fe;
  margin-top: 0;
}

.cover-pic img {
  /* width: 700px; */
  width: 600px;
  /* height: 630px; */
  object-fit: contain;
  border-radius: 30px;
  box-shadow: 15px 9px 100px -1px #1f41bb;
  /* flex: 2; */
}
.cover-pic img:hover {
  box-shadow: 15px 9px 100px -1px #57CEEB(31, 124, 253);
}

#explore-btn {
  width: 130px;
  height: 35px;
  border-radius: 10px;
  outline: none;
  border: none;

  /* background-color: linear-gradient(90deg, #a5006a 9.96%, #dd2289 79.3%); */
  background: linear-gradient(90deg, #a5006a 9.96%, #f33e73 79.3%);

  color: white;
  text-align: center;
  display: inline-block;
  cursor: pointer;

  /* color: red; */
}

.about-us {
  background-image: url("./images/aboutus-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.about-us-container {
  height: 50vh;
  width: 60%;
  border: 1px #006cea solid;
  border-radius: 30px;
  background-color: #040a21;
  padding: 5%;
}
.about-us-container h1 {
  font-size: 55px;
}

.about-us-container p {
  font-size: 35px;
  font-style: normal;
  font-weight: 200;
  line-height: 55px;
}
.services {
  height: 75vh;
  margin-top: 9%;
  /* background-color: #a5006a; */
}

.services-wrapper {
  margin-top: 5%;
  width: 100%;
  /* background-color: #a5006a; */
  height: 60vh;
  display: flex;
  flex-wrap: wrap;

  align-items: flex-start;

  justify-content: center;
}

.try-btn {
  margin-top: auto;
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px white solid;
  outline: none;
  width: 180px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  cursor: pointer;
}

.try-btn h3 {
  font-weight: 30px;
  color: white;
}
.service-item {
  width: 400px;
  height: 55vh;
  display: flex;

  flex-direction: column;
  /* align-items: start; */
  padding: 1px 14px;
  margin-right: 10px;
}

.service-item h1 {
  font-size: 35px;
}
.service-item p {
  font-size: 30px;
  font-weight: 300;
}

#contact {
  margin-top: 15%;
}
#contact center h1 {
  margin-top: 0;
  font-size: 40px;
  margin-bottom: 5%;
}
.form-group input {
  /* background-color: #0aa017; */
  width: 30vw;
  height: 4vh;
  margin-bottom: 3%;
  /* margin-top: 5%; */
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 1% 3%;
}

.form-group textarea {
  border-radius: 10px;
  outline: none;
  border: none;
  width: 30vw;
  padding: 1% 3%;
}

.send {
  /* background-color: #00063a; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32vw;
  margin-top: 4%;
}

.footer {
  height: 90vh;
  display: flex;
  align-items: end;
}

.model-page {
  /* background-color: #1f41bb; */
  height: 85vh;
  width: 100%;
  display: flex;
  /* gap:2%; */
  justify-content: center;
  gap: 20px;
}
.model-description {
  width: 40%;
  height: 100%;
  /* background-color: #152e89; */
  display: flex;
  flex-direction: column;
}
.model-description h1 {
  font-size: 40px;
  margin-top: 40px;
}
.model-description p {
  font-size: 25px;
  font-weight: 300;
  line-height: 35px;
  padding-right: 70px;
}

.model textarea {
  margin-top: 4%;
  padding: 5% 3%;
  border-radius: 20px;
  border: none;
  outline: none;
  color: white;
  overflow-y: scroll;
  background-color: #040a21;
  box-shadow: 15px 17px 100px -20px #1f41bb;
}

.model textarea::placeholder {
  color: white;
  font-size: 15px;
}

.file-upload-container {
  width: 70%;
  height: 10vh;
  /* background-color: #01e8fe; */
  box-shadow: 15px 9px 100px -1px #1f41bb;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.model.summary {
  height: 70vh;
  width: 40%;
  /* background-color: rgb(122, 122, 122); */

  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 35px;

  margin-top: 5%;
}

#inp {
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(103, 103, 103); */
}
input::file-selector-button {
  /* font-weight: bold; */
  color: #040a21;
  padding: 0.5em;
  border: none;
  outline: none;
  /* border: thin solid rgb(255, 255, 255); */
  border-radius: 5px;
  cursor: pointer;
  margin-left: 15%;
}

.model-page.chat {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  /* background-color: #535353; */
  width: 90%;
  height: 100%;
  margin-left: 5%;
}
.model-page.chat h1 {
  padding-left: 25px;
}

.question {
  padding-left: 25px;
  display: flex;
  align-items: center;
  position: relative;
}
.question.map {
  flex-direction: column;
  margin-left: 3%;
  margin-top: 3%;
  margin-bottom: 30px;
}

.question.map .chat-input.q {
  background-color: #040a21;
  /* box-shadow: 10px 9px 100px -20px #1f41bb; */
  margin-bottom: 30px;
  border: 0.1px rgba(255, 255, 255, 0.617) solid;
}
.question.map .chat-input.a {
  box-shadow: 10px 9px 100px -20px #1f41bb;
  border: none;
  align-self: flex-start;
  margin-left: 30%;
}

.chat-input {
  background-color: #040a21;
  border: 1px #006cea solid;
  display: flex;
  align-items: center;
  padding: 0 5%;
  width: 60vw;
  border-radius: 14px;
  outline: none;
  font-size: 20px;
  color: white;
  height: 8vh;
  position: relative;
}

.comment-icon {
  position: absolute;
  right: 3%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.problems {
  height: 100vh;
  /* background-color: #031867; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 15%;
}
.problems h1 {
  font-size: 40px;
}
.grid {
  margin-top: 3%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  @media (max-width: 768px) {
    grid-template-columns: 1fr; 
  }
}

.problem {
  /* It's me I'm the problem it's me */
  width: 400px;
  height: 330px;
  background-color: #040a21;
  border-radius: 20px;
  border: 1px #006cea solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.problem:hover{
  background-color: #222C87;
}

.problem p{
  padding: 20px;
  font-size: 30px;
  font-weight: 200;

  align-self: center;
}